@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body
{
    background: #2798a2;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main-container
{
    display: flex;
    height: 160vh;
}

.main-left-box
{
    flex-basis: 20%;
}

    .logo__wrapper
    {
        position: fixed;
        top: 40px;
    }
    .logo__img
    {
        height: 4.5rem;
        width: 13rem;
        margin-left: 15px;
        
    }
.main-right-box
{
    flex-basis: 75%;
}

/* SIDEBAR START */
.sidebar
{
    position: fixed;
    margin-left: 0;
    margin-top: 100px;

}

.sidebar__ul
{
    padding: 15px;
    
}
.sidebar__li
{
    list-style-type: none;
    display: flex;
    text-align: center;
    margin-left:0;
    margin-top: 20px;

}
.sidebar__li :hover
{
    color: white;
    transition: 0.2s;
    font-weight: bold;
}

.sidebar__link
{
    text-decoration: none;
    text-align: center;
    color: #fff;
    margin-left: 10px;
}
/*SIDEBAR END*/


/*COMPANY PAGE START */
.company-page__h1
{
    font-size: 60px;
    color: white;
    font-weight: bold;
}
.company-page-menu
{
    margin-left: 0;
    padding-left: 0;
}
.company-page-menu__ul
{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.company-page-menu__li span
{
color: white;
font-weight: bold;
margin: 10px;
}
.company-page-menu__link
{
    color: white;
    margin: 10px;
}
.company-page-menu__link:hover
{
    text-decoration: none;
}
.company-page-menu__slash
{
    color: white;
}
.company-page-content__h2
{
    color: white;
    font-size: 1.4em;
    line-height: 1.1;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2em;
}
.company-page-content__p
{
    color: white;
}
/* COMPANY PAGE END */
