@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body
{
    background: url(https://vidnoe.net/custom/nfs/img/bg-site.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container
{
    display: flex;
    height: 160vh;
}
.left-box
{
    flex-basis: 20%;
}
.left-menu
{
    position: fixed;
    margin-left: 0;
    margin-top: 50px;

}
.left-box__logo
{
    height: 4rem;
    width: 13rem;
    margin-left: 15px;
}
.left-menu__ul
{
    padding: 15px;
    margin-top: 1px;

}
.left-menu__li
{
    list-style-type: none;
    display: flex;
    text-align: center;
    

}
.left-menu__li :hover
{
    color: white;
    transition: 0.4s;
}

.left-menu__icon
{
    margin: 10px;
  

}
.left-menu__link
{
    text-decoration: none;
    text-align: center;
    color: #65a3b0;
    margin: 10px;
}

/* END OF LEFT MENU */

.right-box_h1
{
    margin-bottom: 20px;
}
.right-box_desc
{
    color: white;
    font-size: 25px;
    margin: 0;
    margin-bottom: 20px;
}
.tariffs_main_menu
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.tariffs_main_menu a
{
    text-decoration: none;
    /* background: #32b0bc; */
    color: white;
    padding-left: 120px;
    padding-right: 120px;
    font-size: 22px;
    border-radius: 26px;
    font-weight: 600;
    text-align: center;
    line-height: 48px;
    border: 2px solid #32b0bc;
   
}
.tariffs_second_menu span
{
    color: white;
    
}
.tariffs_main_menu-internet
{
    background: #32b0bc;
}
.tariffs_second_menu a
{
    color: white;
}
.tariffs_second_menu-apartment
{
    text-decoration: none;
    font-weight: 600;
}






.right-box
{
    flex-basis: 75%;
}
.wrapper h1
{
    font-size: 60px;
    color: white;
    font-weight: bold;
}

.internet_category_items
{
    background: #fff;
    width: 350px;
    height: 400px;
    border-radius: 20px;
}
